#ignore objects and archives.
*.[oa]
*.lo
*.la

# libtool related stuff
.libs
.deps


## ignore backup
*~

### makefiles
Makefile
Makefile.in

### automakes
.DS_Store
COPYING
INSTALL
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool



ngram
ngram_index
ngram_dump
ngram_quantize
ngram_bound
ngram_stat
ngram_perplexity
ngram_counts_extract
ngram_counts_index
ngram_counts_modify
ngram_counts_dump
ngram_counts_estimate
ngram_counts_stat
ngram_vocab
expgram_clean
ngram_quantize_mpi
ngram_bound_mpi
ngram_counts_extract_mpi
ngram_counts_index_mpi
ngram_counts_modify_mpi
ngram_counts_estimate_mpi
ngram_vocab_mpi
mpish
