#ignore objects and archives.
*.[oa]
*.lo
*.la

# libtool related stuff
.libs
.deps


## ignore backup
*~

### makefiles
Makefile
Makefile.in

### automakes
.DS_Store
COPYING
INSTALL
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool



expgram
expgram_index
expgram_dump
expgram_quantize
expgram_backward
expgram_bound
expgram_diff
expgram_stat
expgram_perplexity
expgram_counts_extract
expgram_counts_index
expgram_counts_modify
expgram_counts_diff
expgram_counts_dump
expgram_counts_estimate
expgram_counts_stat
expgram_vocab
expgram_clean
expgram_quantize_mpi
expgram_backward_mpi
expgram_bound_mpi
expgram_counts_extract_mpi
expgram_counts_index_mpi
expgram_counts_modify_mpi
expgram_counts_estimate_mpi
expgram_vocab_mpi
