#ignore objects and archives.
*.[oa]
*.lo
*.la

# libtool related stuff
.libs
.deps


## ignore backup
*~

### makefiles
Makefile
Makefile.in

### automakes
.DS_Store
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool



bithack_main
byte_aligned_code_main
chunk_vector_main
compress_stream_main
group_aligned_code_main
indexed_set_main
istream_line_iterator_main
lockfree_list_queue_main
lockfree_queue_main
map_file_allocator_main
packed_vector_main
simple_vector_main
subprocess_main
succinct_vector_main
tempfile_main
vector2_main
vertical_coded_vector_main
group_aligned_code_offsets.py
config.h
config.h.in
group_aligned_code_offsets.hpp
stamp-h1
